.button{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 130px;
	height: 70px;
	background-color: indigo;
	border: 5px solid rgb(127, 165, 255);
	font-size: 25px;
	}
	.button:not(:last-child){
	margin-right: 20px;
	}
	.buttons__list{
		display: flex;
		justify-content: center;
	}
	.icon{
		margin-right: 10px;
	}
	.button:hover{
	border:5px solid navy;
	}
	.button:nth-child(1):hover{
		color: chartreuse;
		border-color: chartreuse;
	}
	.button:nth-child(2):hover{
		color:  rgb(167, 167, 164);
		border-color: rgb(167, 167, 164);
	}
	.button:nth-child(3):hover{
		color: maroon;
		border-color: maroon;
	}