.statistics__list {
	display: flex;
	justify-content: center;
	font-size: 35px;
}

.statistics__item:not(:last-child) {
	margin-right: 15px;
}

.statistics__item:first-child {
	color: chartreuse;
}

.statistics__item:nth-child(2) {
	color:  rgb(167, 167, 164);
}

.statistics__item:nth-child(3) {
	color: maroon;
}

.count__list{
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: darkviolet;
}

.count__item:not(:last-child) {
	margin-right: 20px;
}
